.delete__user {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0004;
    position: relative;
    width: 100%;
    max-width: 270px;
}
.delete__x{
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 20px;
    color: #D85D5D;
    transition: transform 100ms ease;
    cursor: pointer;
}
.delete__x:hover {
    transform: scale(1.2);
    color: #b60e0e;
    transition: trasform 100ms ease;
}
.delete__title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 12px;
    text-align: center;
}
.delete__btn {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #2f3675;
    color: white;
    font-size: 15px;
    margin-top: 15px;
    cursor: pointer;
    filter: brightness(1.4);
    transition: filter 100ms ease;
}
.delete__btn:hover {
    filter: brightness(1.0);
    transition: filter 100ms ease;
}